@font-face {
  font-family: "Boutinela";
  src: url("./fonts/boutinela.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  background: #7C99A7;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{ 
  font-weight: 300;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p,button,a{
  color: white;
}

h1,h2{
  font-family: "Boutinela", sans-serif;
}

button{
  font-size: 1rem;
  font-family: "Cormorant Garamond", serif;
  background: none;
  border: 0.125rem solid white;
  cursor: pointer;
  outline: none;
  transition: all 0.1s;
}

h1{
  font-size: 6rem;
}

h2{
  font-size: 4.5rem;
}

h3{
  font-size: 1.875rem;
}

h4{
  font-size: 1.5rem;
}

p{
  font-size: 1.5rem;
}

a{
  text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 50rem) {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }

  h3{
    font-size: 1.5rem;
  }
  p{
    font-size: 1.25rem;
  }
}

.react-images__blanket{
  z-index: 5 !important;
}

.react-images__positioner{
  z-index: 5 !important;
}
